* {
  padding: 0;
  margin: 0;
}

.accordion-container,
.accordion-item,
.accordion-trigger,
.accordion-content {
  border: 1px solid red;
}
.accordion-item > .accordion-content {
  display: none;
}

.accordion-item.open > .accordion-content {
  display: block;
}
